# Basic Python

---

In [2]:
%load countdownTimer.py

In [4]:
countdown(1 * 6)

00:01
Time's Up!

### 1. Python Programming Principles

- DRY
- The Zen of Python

In [5]:
print "DRY: Don't Repeat Yourself"

DRY: Don't Repeat Yourself

In [6]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

---

## Advice for budding programmers

To get started with learning any new **OOP** language, the very first steps you have to take include learning about:

- variables, values and objects
- data types
- data structures
- arithmetic, control and logical operators

Remember that learning a new programming language is much like learning a new foreign language. You cannot claim to know the new language until you have:

- built a decent vocabulary (conversational, at least)
- can translate/express ideas effectively

The following sections will take you through the **core** of the language - build your  vocabulary (commit certain things to memory) as you go along and try to express concepts  that you know (for example, generating numbers from the Fibonacci sequence) using what you learn.

## Launching the notebook

**On windows** - Windows Button + R + type 'cmd' + 
type 'jupyter notebook' + opens up in the browser + 'New' + Python Notebook

**On Mac/Linux** - Terminal + 'jupyter notebook'+ opens up in the browser + 'New' + Python Notebook

Note

- Autocomplete function and object names with < tab >
- Get help on functions, objects, methods by appending a '?' and hit Shift-enter.

---

## Object Oriented Programming

- Classes (are definitions of data and associated functions - sometimes called methods)
- Objects are derived from classes.
    - Car is an object of type Vehicle. So is scooter
    - Human is an object of type Mammal. So is Dolphin.
- Objects have attributes (ends without parentheses)
    - car.num_tyres; scooter.num_tyres
    - human.has_tail; dolphin.has_tail
- Objects also have methods (end with parentheses). Methods work on the data stored inside the object.
    - car.add_sunroof(1); scooter.drop_spare_tyre(1)
    - human.add_vaccine(5); dolphin.max_depth(50)

> In Python, we will be creating Objects from Classes in a similar manner.
We will then explore the methods and attributes of objects of every kind of class.

---

> ## PYTHON IS A DYNAMICALLY TYPED LANGUAGE.
## YOU DO NOT MAKE TYPE DECLARATIONS.

---


# Built in Data Types and their Methods

> Python has a small set of built-in types for handling numerical data, strings, boolean (True or False) values, date/time, missing values. 

These are the quintessential building blocks for storing and manipulating data in Python.

### Python primitives

```python
None- The Python Null Value
str, unicode- for strings
int- signed integer whose maximum value is platform dependent.
long- large ints are automatically converted to long
float- 64-bit (double precision) floating point numbers
bool- a True or False value
```
Check the data type of an object using `type()` or `isinstance()`

The Python function isinstance() takes as input two things - an object and a type. It returns a True if the object
belongs to the type specified.

--- 

# 1. `str`

In [29]:
s = 'A hot air balloon'

In [30]:
s2 = "This is also a string"

s3 = """
This is a multi line comment/string
"""

- **Functions** that work with str objects

In [35]:
type(s)

str

In [36]:
len(s)

17

### String Subsetting

Syntax

`my_str[start:stop:step]`

In [40]:
print s[0], s[-1]

A n

---
### PS - Indexing starts from 0. Goes to N-1.

---

In [45]:
# Extract a single character by its position
s[2]

'h'

In [46]:
# Extract many characters using SPLICES
s[5:]

' air balloon'

In [47]:
s[:10]

'A hot air '

In [49]:
s[2:5]

'hot'

In [50]:
# Skipping over characters
s[::2]

'Ahtarblon'

In [51]:
s[:15:3]

'Aoa l'

In [52]:
s2[::-1]

'gnirts a osla si sihT'

## String Methods

> Methods are functions that operate on data inside an object.

In [53]:
s

'A hot air balloon'

In [54]:
s.endswith('loon')

True

In [57]:
s.startswith('a hot')

False

In [55]:
# Splitting a string gives a List
s.split(" ")

['A', 'hot', 'air', 'balloon']

In [56]:
l_1 = s.split(' ')
type(l_1)

list

### Look for substrings within strings

- the `in` keyword

In [58]:
'air' in s

True

In [59]:
'fare' in s

False

- the `find()` and `index()` methods

In [60]:
s.find('air')

6

In [62]:
s.find('hair')

-1

In [61]:
s.index('hot')

2

In [63]:
s.index('pot')

ValueError: substring not found

### TASK 1 - Experiment with and understand 5 string methods not listed here. Think of an application for them.

In [66]:
'  Some spaces in the front. Some at the end. . . . .   '.strip()

'Some spaces in the front. Some at the end. . . . .'

In [68]:
s.replace('hot', 'pot')

'A pot air balloon'

In [69]:
'10'.isdigit()

True

In [70]:
'19.23'.isdigit()

False

In [72]:
'_'.join(l_1)

'A_hot_air_balloon'

In [73]:
'_@_'.join(l_1)

'A_@_hot_@_air_@_balloon'

## Substitutions using the `.format()` method

In [74]:
s_5 = "{}'s favourite food is {}"

In [75]:
s_5.format('Dushyant', 'Butter Chicken')

"Dushyant's favourite food is Butter Chicken"

In [76]:
s_5.format('Shyamalini', 'Ice Cream')

"Shyamalini's favourite food is Ice Cream"

---
## String Arithmetic

In [78]:
# Plus signs concatenate

s + ' will come down eventually' + ' because the air runs out.'

'A hot air balloon will come down eventually because the air runs out.'

In [79]:
# Multiplications also concatenate

'Macbook ' * 4

'Macbook Macbook Macbook Macbook '

In [82]:
list('abcd' * 5)[:10]

['a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b']

---
## Explicit Type Conversion

In [83]:
# int to str
str(12345)

'12345'

In [84]:
# int to str

'Apple' + str(7)

'Apple7'

In [85]:
# str to int

int('123')

123

In [86]:
# str to float

float('3.142')

3.142

---
# 2. Ints, Floats and their Methods

In [90]:
i = 78

In [92]:
i.

In [91]:
f = 3.142

In [ ]:
f.

In [101]:
isinstance(f, float)

True

In [102]:
isinstance(i, int)

True

In [103]:
type(i) == int

True

- Type Conversion

In [93]:
int('124')

124

In [94]:
float(1234)

1234.0

In [95]:
str(123.5)

'123.5'

In [96]:
int(3.15)

3

In [97]:
float(3)

3.0

In [100]:
'The first four digits of Pi are ' + str(3.142)

'The first four digits of Pi are 3.142'

In [99]:
'The first four digits of Pi are {}'.format(3.142)

'The first four digits of Pi are 3.142'

### Task : Fix the error in this

In [ ]:
'I have eaten ' + 99 + ' burritos'

---
# 3. Booleans

In [104]:
1 == 1

True

In [105]:
1 != 1

False

In [106]:
4 < 5

True

In [107]:
5 < 2

False

In [108]:
(4 < 5) and (5 < 2)

False

In [109]:
x = True

In [110]:
type(x)

bool

In [111]:
isinstance(x, bool)

True

In [ ]:
x.

## `NoneType`

In [112]:
x = None

In [ ]:
x.
# no methods or attributes

In [119]:
x == None

True

In [115]:
isinstance(x, None)

TypeError: isinstance() arg 2 must be a class, type, or tuple of classes and types

---

### Importing Modules

There are 3 ways of doing this

1. Import the entire module (**not** recommended)


~~import pandas~~ <br>
~~pandas.DataFrame~~

Also avoid writing `from pandas import *`


2. Provide an alias (recommended)

```python
import pandas as pd
pd.DataFrame
```

3. Import whatever you need (recommended)


```python
from pandas import DataFrame
DataFrame
```

---

# 4. Flow Control

---

$Traditional$

---

```python
if condition:
    action
else:
    alternative
```

---

$Ternary$

```python
action if condition else alternative        
```

In [124]:
name = 'Mr A'


if 'Mrs' in name:
    print "this person is female"
else:
    print "this person is male"

this person is male

In [125]:
('female' if 'Mrs' in name else 'male')

'male'

Example 2

In [126]:
name = 'Alex'

In [127]:
if (name == 'Alex'):
    print('Hi Alex')

Hi Alex

In [128]:
if name != 'Alice':
    print 'You are not Alice'

You are not Alice

In [129]:
if (5>1):
    print('Success')

Success

In [130]:
name = 'John'

In [131]:
if name == 'John':
    print('How are you?')
else:
    print('Nice to meet you.')

How are you?

In [139]:
name = 'Johny'
age = 15
lastname = 'Noel'

In [140]:
if (name == 'John'):
    print('How are you?')
elif age < 18:
    print("You're just a teenager")
elif (lastname == 'Doe'):
    print("Never heard that name before")
else:
    print('you do not qualify')

You're just a teenager

---
### Expressing Complex Logic

In [142]:
(5 > 2) & (10 < 3)

False

In [143]:
(5 > 2) | (10 < 3)

True

In [144]:
(5 > 2) and (10 < 3)

False

In [145]:
(5 > 2) or (10 < 3)

True

## TERNARY IF-THEN-ELSE

In [146]:
x = 5; y = 3

1 if x > y else 0

1

In [153]:
name = 'John'

In [154]:
'How are you' if name == 'John' else 'Hello Stranger!'

'How are you'

In [155]:
if name == 'John':
    print 'How are you'
else:
    print 'Pleased to meet you.'

How are you

---

## TASK 2

The marks for a student in six subjects are as: 78, 93, 81, 84, 57 and 90


Use the if-else construct to print his grades in each subject:

- A: 90+
- B: 80-90
- C: 60-80
- D: 40-60
- E: under 40

In [156]:
countdown(60 * 3)

00:01
Time's Up!

---

# 5. The `for` Loop

- Generating numbers for iterating over

In [165]:
import numpy as np

In [166]:
range(0, 10, 2)

[0, 2, 4, 6, 8]

In [167]:
range(0, 1, .2)

TypeError: range() integer step argument expected, got float.

In [171]:
np.arange(0, 1, .2)

array([ 0. ,  0.2,  0.4,  0.6,  0.8])

In [172]:
np.linspace(0, 1, 50)

array([ 0.        ,  0.02040816,  0.04081633,  0.06122449,  0.08163265,
        0.10204082,  0.12244898,  0.14285714,  0.16326531,  0.18367347,
        0.20408163,  0.2244898 ,  0.24489796,  0.26530612,  0.28571429,
        0.30612245,  0.32653061,  0.34693878,  0.36734694,  0.3877551 ,
        0.40816327,  0.42857143,  0.44897959,  0.46938776,  0.48979592,
        0.51020408,  0.53061224,  0.55102041,  0.57142857,  0.59183673,
        0.6122449 ,  0.63265306,  0.65306122,  0.67346939,  0.69387755,
        0.71428571,  0.73469388,  0.75510204,  0.7755102 ,  0.79591837,
        0.81632653,  0.83673469,  0.85714286,  0.87755102,  0.89795918,
        0.91836735,  0.93877551,  0.95918367,  0.97959184,  1.        ])

## lists are iterables

In [175]:
r = range(50, 101, 5)

for i in r:
    print i,

50 55 60 65 70 75 80 85 90 95 100

In [176]:
for i in r:
    i = i+10
    print i,

60 65 70 75 80 85 90 95 100 105 110

In [177]:
my_str = 'The sky is blue.'
print my_str, '\n'

for i in my_str.split(' '):
    print i.capitalize()

The sky is blue.

The
Sky
Is
Blue.

---

### Task 3: Print all PRIME numbers between 0 and 100

- Prime Numbers are those that are divisble only by 1 and themselves

In [187]:
# %load primes.py

for i in range(2, 100):
    check = 0
    for j in range(2, i-1):
        if i%j == 0:
            check = 1
            break
    if check == 0:
        print i,

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

### Task 4: Primes till a given number

In [189]:
# %load primes2.py

num = input('get the value:')

for i in range(2,num+1):
    count = 0
    for j in range(2,i):
        if i%j != 0:
            count += 1
            if count == i-2:
                print i,

get the value:9
3 5 7

---

### Task 4: Solve the grading problem above using a for loop.

Hint: Put the scores inside a list.

Here's how you declare a list

    my_list = [12, 17, 21, 24]

In [ ]:
countdown(60)

In [ ]:
marks = []
for i in marks:
    'A' if (i > 90) else

### Task 5: Print this pattern using `for` loops

    *
    **
    ***
    ****
    *****
    *****
    ****
    ***
    **
    *

In [190]:
for i in range(6):
    print '*' * i

*
**
***
****
*****

In [191]:
for i in range(5, 0, -1):
    print '*' * i

*****
****
***
**
*