## Data Analysis in Python: Introduction to Pandas

Pandas is built on top of numPy, and is designed to eliminate the need for writing loops for any filtering or aggregation work. It is implemented in C, so is around 15x faster than base python.

Key Features
* Easy handling of ***missing data.*** (`dropna, fillna, ffill, isnull, notnull`)
* Simple ***mutations*** of tables (add/remove columns)
* Easy ***slicing*** of data (fancy indexing and subsetting)
* Automatic ***data alignment*** (by index)
* Powerful ***split-apply-combine*** (`groupby`)
* Intuitive ***merge/join*** (`concat, join`)
* Reshaping and ***Pivoting*** (`stack, pivot`)
* ***Hierarchical Labeling*** of axes indices
* Robust ***I/O tools*** to work with csv, Excel, flat files, ***databases and HDFS***
* Integrated ***Time Series*** Functionality
* Easy plotting (`plot`)

Stack Overflow page for handling big data workflows in Pandas [link](http://stackoverflow.com/questions/14262433/large-data-work-flows-using-pandas)

In [2]:
import os
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import matplotlib.pyplot as plt

%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [3]:
np.array?

## Using the `array()` function

In [ ]:
arr_1d = np.array((1, 2, 3))

In [ ]:
arr_1d.shape

In [ ]:
arr_2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]); arr_2d

In [ ]:
arr_2d.shape

In [ ]:
arr_3d = array([arr_2d, arr_2d])

In [ ]:
arr_3d.shape

## Using generation functions

In [ ]:
np.arange(16)

In [ ]:
np.arange(16).reshape(4, 4)

## Using random numbers

In [ ]:
arr_1d = np.random.randint(1, 100, 16)

In [ ]:
arr_2d = np.random.randint(0, 1000, 16).reshape(4, 4)

In [ ]:
np.random.randn(10).round(2)

In [ ]:
np.random.randn(30).reshape(5, 6).round(2)

## Subsetting (get a number or many numbers from an array)

In [ ]:
arr_1d

In [ ]:
arr_1d[::2]

In [ ]:
arr_2d

In [ ]:
# Getting a single number
arr_2d[3, 0]

In [ ]:
arr_2d[0, :]

In [ ]:
arr_2d[:, 0]

In [ ]:
arr_2d[:2, :]

In [ ]:
arr_2d[:, 2:]

In [ ]:
arr_2d[2:4, 2:4]

## Subsetting with Booleans

In [ ]:
arr_1d

In [ ]:
arr_1d > 50

In [ ]:
arr_1d[arr_1d > 50]

In [ ]:
arr_2d

In [ ]:
arr_2d % 2 == 0

In [ ]:
arr_2d[arr_2d % 2 == 0]

## Mathematical Operations

In [ ]:
print arr_1d
arr_1d + arr_1d

In [ ]:
print arr_2d
arr_2d + arr_2d

## Math Functions

In [ ]:
np.sqrt(arr_1d).round(2)

In [ ]:
np.log(arr_2d).round(2)

## Array Attribues and Methods

- commonly used: `reshape, round... `

In [ ]:
array([True, True, False, True]).all()

In [ ]:
array([True, True, False, True]).any()

In [ ]:
arr_1d.argmax()

In [ ]:
arr_1d.argsort()

In [ ]:
arr_1d[arr_1d.argsort()]

In [ ]:
arr_1d

In [ ]:
arr_1d.clip(20, 90)

---
# Pandas

http://pandas.pydata.org/

---

- A fast and efficient DataFrame object for data manipulation with integrated indexing;
- Tools for reading and writing data between in-memory data structures and different formats: CSV and text files, Microsoft Excel, SQL databases, and the fast HDF5 format;
- Intelligent data alignment and integrated handling of missing data: gain automatic label-based alignment in computations and easily manipulate messy data into an orderly form;
- Flexible reshaping and pivoting of data sets;
- Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
- Columns can be inserted and deleted from data structures for size mutability;
- Aggregating or transforming data with a powerful group by engine allowing split-apply-combine operations on data sets;
- High performance merging and joining of data sets;
- Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
- Time series-functionality: date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging. Even create domain-specific time offsets and join time series without losing data;
- Highly optimized for performance, with critical code paths written in Cython or C.
- Python with pandas is in use in a wide variety of academic and commercial domains, including Finance, Neuroscience, Economics, Statistics, Advertising, Web Analytics, and more.

---

In [ ]:
from pandas import Series, DataFrame

In [ ]:
print pd.__version__

In [ ]:
ls

### 2.2 Importing a CSV File

Reading a CSV is as simple as calling the read_csv function. By default, the `read_csv` function expects the column separator to be a comma, but you can change that using the sep parameter.

Syntax: `pd.read_csv(filepath, sep=, header=, names=, skiprows=, na_values= ... )`

### Inspect file without importing it

In [ ]:
!wc -l train.csv

In [ ]:
!head -10 train.csv

In [ ]:
df_titanic = pd.read_csv('train.csv')

In [ ]:
type(df_titanic)

In [ ]:
df_titanic.tail(2)

---

## 3. Support for SQL Databases

pandas also has some support for reading/writing DataFrames directly from/to a database. 

You'll typically just need to pass a connection object to the `read_frame` or `write_frame` functions within the pandas.io module.

***Note*** `write_frame` executes as a series of `INSERT INTO` statements and thus trades speed for simplicity. If you're writing a large DataFrame to a database, it might be quicker to write the DataFrame to CSV and load that directly using the database's file import arguments.

In [ ]:
[x for x in os.listdir(os.getcwd()) if 'db' in x]

In [ ]:
pd.read_sql?

In [ ]:
from pandas.io import sql
import sqlite3 

conn = sqlite3.connect('towed.db')
query = "SELECT * FROM towed WHERE make = 'FORD';"

results = pd.read_sql(query, con=conn)
print results.head()

In [ ]:
pd.read_sql("SELECT distinct make, count(*) from towed group by 1 order by 2 desc limit 10", conn)

---

Read: 

1. Homepage http://www.sqlalchemy.org/
2. Engines http://docs.sqlalchemy.org/en/latest/core/engines.html

---

## 4. Reading from the Clipboard!

This is as straight forward as it ought to be.

Example: `df_2 = pd.read_clipboard(); df_2.head()`

---

---
## 1. Series
It is a 1-d array of data (similar to an array/list/column in a table) with an associated **labeled _index_.**

 It can be created in the same way as a NumPy array is created

> Syntax: `Series(data=, index=, dtype=, name=)`

In [ ]:
from pandas import Series, DataFrame, read_csv

- Using an array

In [ ]:
x_random = np.random.randn(10).round(2)

print type(x_random)
x_random

In [ ]:
Series(x_random, 
       name='my_series_1', 
       dtype=object, 
       index=['ind_' + str(i) for i in range(10)])

In [ ]:
s_random = Series(x_random)
# no index specified, numeric will be automatically generated
print type(s_random)
s_random

In [ ]:
my_series = Series(x_random, index=list('aabbbccdef'))
# passing an index specifically
my_series

<big>
- Using a list, tuple or dict

In [ ]:
dict_1 = {v: k for k, v in zip(np.random.random(10).round(2), list('abcdefghij'))}

In [ ]:
dict_1

In [ ]:
Series(dict_1)

In [ ]:
Series(data=[1, 2, 3], 
       index=list('abc'), 
       name='Series_1', 
       dtype=float)

In [ ]:
Series(data=(1, 2, 3), index=list('abc'), 
       name='Series_1', dtype=np.int64)

In [ ]:
Series({'a': 1, 'b': 2, 'c':3}, dtype=str)

---
## Series Attributes

In [ ]:
my_series

In [ ]:
my_series.values

In [ ]:
my_series.index

In [ ]:
type(my_series.index)

### Modifying the Index

In [ ]:
my_series.index = list('abcde' * 2)

In [ ]:
my_series

In [ ]:
my_series.name = 'ser1'

In [ ]:
my_series

--- Convert a dictonary to a Series, using the **keys** of the dictionary as its **index**.

---
**Task 1:** Declare a series using this data, 
```
{'ham': 1, 'eggs': 3, 'bacon': 2, 'coffee': 1, 'toast': 0.5, 'jam': 0.2}
```
- The menu options should form the index.
- The series should be called 'menu'

In [ ]:
diner = Series({'ham': 1, 'eggs': 3, 'bacon': 2, 'coffee': 1, 'toast': 0.5, 'jam': 0.2},
              name='menu')

In [ ]:
Diner = diner.to_dict()

In [ ]:
{k:Diner[k] for k in ['eggs', 'bacon']}

In [ ]:
Diner[['eggs', 'bacon']]

In [ ]:
diner[['eggs', 'bacon']]

In [ ]:
diner['coffee':'jam']

In [ ]:
diner + 0.50

In [ ]:
diner.map(lambda x: float(x) + 0.50)

---------------------------------------------------------------------------------------------------------------------

## 1.3 Subsetting a Series

<big>

The different methods of subsetting that we've seen so far include

- Using slices or positional indexers (for lists and arrays)
- Using keys (for dictionaries)
- Using bools (for arrays)

For the Pandas Series, we can use either of the above strategies, leveraging specialized methods for pulling data from a Series.

In [ ]:
my_series = Series(np.random.randn(5).round(2), index = list('abcde'))
my_series

In [ ]:
# One Label
my_series['a']

In [ ]:
# List of Labels
my_series[['a', 'b']]

In [ ]:
# Label Slice
my_series['b':'d']

In [ ]:
my_series[1:4]

In [ ]:
# positional slicing
my_series[:3]

In [ ]:
my_series[:2]

In [ ]:
my_series[::-1]

In [ ]:
my_series[::-2]

In [ ]:
ser_2 = Series(list('abcde'), index=range(1, 6))

## Series Slicing Methods

    loc and iloc
    at and iat
    ix

In [ ]:
# LABEL BASED INDEXER METHOD
my_series.loc?

In [ ]:
my_series.loc[['a', 'c', 'e']]

In [ ]:
# INTERGER BASED INDEXER METHOD
my_series.iloc?

In [ ]:
my_series.iloc[2:4]

In [ ]:
# MIXED LABELS and INTEGERS BASED INDEXER METHOD
my_series.ix?

In [ ]:
my_series.ix['a':'c']

In [ ]:
my_series.ix[0:4]

## Boolean Series and Indexing

- Use conditional operators to create an equal-length Boolean series
- Subset the series using this boolean inside square brackets

In [ ]:
ser_x = my_series.copy()

In [ ]:
ser_x

In [ ]:
%%timeit
positives = []
for i in ser_x:
    if i > 0:
        positives.append(round(i, 2))        
positives

In [ ]:
%%timeit

positives = ser_x[ser_x > 0]
positives

### pd.Series.ix?

``.ix[]`` supports mixed integer and label based access. It is
primarily label based, but will fall back to integer positional
access

In [ ]:
my_series.ix[0:2]

In [ ]:
my_series.ix['c':'e']

### Series Methods for finding the biggest values

In [ ]:
my_series.max()

In [ ]:
my_series.idxmax()

In [ ]:
my_series.idxmin()

In [ ]:
my_series.min()

---------------------------------------------------------------------------------------------------------------------

## 1.4 Array Operations on a Series
Array operations on the Series preserves the index-value links.

In [ ]:
ser_x2 = Series(range(4, 21, 4))
print ser_x2

np.sqrt(ser_x2)

In [ ]:
my_series_2 = Series({'c': 1, 'd': 0.14, 'e':10, 'f': 2, 'g':-0.5})
print my_series,'\n', my_series_2

In [ ]:
print my_series + my_series_2

In [ ]:
my_series / 2

Methods that apply to dicts are also valid on a Series.

---------------------------------------------------------------------------------------------------------------------

### 1.5 Check if an item exists in a Series

In [ ]:
'boo' in my_series

---
## THE `.isin()` method

In [ ]:
pls = Series(['c', 'py', 'java', 'scala'])

In [ ]:
-pls.isin(['c', 'py'])

In [ ]:
pls[pls.isin(['java', 'py'])]

---------------------------------------------------------------------------------------------------------------------

## Reindexing

In [ ]:
my_series

In [ ]:
my_series[['a', 'y', 'b', 'd', 'e', 'x']]

In [ ]:
my_series.reindex(['a', 'y', 'b', 'd', 'e', 'x'])

### 1.6 Detect Missing Values


- Missing values appear as NaN. Funtions _isnull_ and _notnull_ are used to detect missings.
- They both produce booleans that can be used for subsetting

In [ ]:
cities = Series(data = [18, None, 5, None, 13], 
                index=['DEL', 'BOM', 'BLR', 'DXB', 'BKK'])
cities

In [ ]:
pd.Series.isnull?
pd.Series.notnull?

In [ ]:
print zip(cities, cities.isnull())

In [ ]:
zip(cities, cities.notnull())

In [ ]:
cities[cities.isnull()]

In [ ]:
cities[cities.notnull()]

In [ ]:
index2 = ['a', 'd', 'e', 'f', 'g']
my_series2 = my_series[index2]
my_series2

In [ ]:
my_series2[my_series2.notnull()]

In [ ]:
my_series2[my_series2.isnull()]

In [ ]:
my_series2.fillna(-999)

In [ ]:
cities.fillna(method='ffill')

In [ ]:
cities.fillna(cities.median())

## Difference between None and NaN

<big><br>

- `NaN` is a mathematical entity
- `None` is for missing data

In [ ]:
type(np.nan)

In [ ]:
bool(np.nan)
# Truthiness value of np.nan is True

In [ ]:
type(None)

In [ ]:
bool(None)

In [ ]:
# Series Methods do not discriminate between None and NaN
Series({'a': None, 'c': 101, 'b': np.nan, 'd': 'red'}).isnull()

---

<big>

Task: Generate a Series of 150 ages with a mean of 35 years. Set every fifteenth value to missing. Find the nexw mean. Fill the missing data with (a) mean (b) median, and report the new means

hint: use `np.random.randn`

In [ ]:
ages = Series(np.random.normal(loc=35, scale=1, size=1500))

In [ ]:
ages.plot.hist(bins=20, xlim=(30, 40))

In [ ]:
ages.mean()

In [ ]:
ages[::15] = np.nan

In [ ]:
ages.mean()

In [ ]:
ages.median()

In [ ]:
ages.fillna(ages.mean()).mean()

In [ ]:
ages.fillna(ages.median()).mean()

# Strategies for dealing with missing data

---

1. Drop if there aren't too many missings
2. Impute with 0s (for quantities like Amounts), with Mean (for a symmetric distribution), with Median for an Asymmetric Distribution
3. Impute by cluster mean/median
4. Use kNN/Regression where the variable with missings = DV, others are IVs. Predict the missing data.

---

### 1.7 Alignment in Arithmetic Operations
Series with different indexes will be automatically aligned, and NaNs induced in locations where data is not found. 

The indexes are _unioned_.

> Think of binary operations as outer joins.

In [ ]:
my_series

In [ ]:
my_series2 = Series(range(5), index=list('cdefg'))

In [ ]:
my_series2

In [ ]:
# Series have different indexes
# The indexes are UNION'd
# Missing values used where there isnt a match.
my_series + my_series2

In [ ]:
my_series > my_series2

---
## Series Methods - Important

In [ ]:
# Describe method on char series
Series(list('Dogs are descended from wolves.')).describe()

In [ ]:
# Describe method on numeric series
ser_x = Series(np.random.normal(0, 1, 10000))
ser_x.describe()

In [ ]:
ser_x.describe(percentiles=[0.01, 0.05, 0.97, 0.99], )

In [ ]:
ser_x.describe().loc[['min', 'mean', '50%', 'max']]

### More Series methods using the Titanic Data

In [ ]:
df_x = pd.read_csv('train.csv')

In [ ]:
df_x.head()

In [ ]:
type(df_x)

In [ ]:
type(df_x.loc[:, 'Survived'])

In [ ]:
type(df_x.loc[0, :])

- `value_counts()` for frequency tables

In [ ]:
df_x['Embarked'].value_counts()

In [ ]:
%pylab inline

In [ ]:
df_x['Embarked'].value_counts().plot.bar(figsize=(3, 3));

<big>
this is equivalent to

    SELECT distinct Embarked, count(*) 
    from titanic 
    group by 1

- `astype()` for type conversion

In [ ]:
df_x['PassengerId'].head().astype(float).astype(str)

- `map()` for applying a function to each element of a series.

In [ ]:
df_x['Fare'].head().map(lambda x: 'Rs. ' + str(int(x * 65.0)))

In [ ]:
df_x['Age'].head().map(lambda x: x-1)

In [ ]:
df_x['Name'].head().map(lambda x: 'Female' if (('Mrs' in x) or ('Miss' in x)) else 'Male' )

In [ ]:
df_x['Sex'].head().map(lambda x: x.upper())

In [ ]:
df_x['Name'].head().map(lambda x: (x[:20], len(x)))

- `idxmax()` for finding where the maximum value occured

In [ ]:
fares = Series(df_x['Fare'].values, index=df_x['Name'].values)
print fares.head()
print fares.idxmax(), fares.idxmin()

- `.sort_values()` to sort a series

In [ ]:
fares.sort_values(ascending=False)[:5]

- `plot()` to visualize data

In [ ]:
import seaborn as sns

In [ ]:
fares.plot.hist(figsize=(5, 3));

In [ ]:
df_x['Embarked'].value_counts().plot.barh(figsize=(3, 3));

In [ ]:
df_x[['Age', 'Fare']].plot.box(figsize=(4, 2), ylim=(0, 80), subplots=True);

- `replace()` method for replacing values using a dict

In [ ]:
fruits = Series(['apples', 'oranges', 'peaches', 'mangoes'])

In [ ]:
rep = {'apples':'bananas', 'peaches':'grapes'}

In [ ]:
fruits.replace(rep)

- `duplicated()` and `drop_duplicates()` creates a boolean to indicate where duplicates occured

In [ ]:
ser_d = Series(list('ABCDEFABGHIABCD'))

In [ ]:
zip(ser_d, ser_d.duplicated())

In [ ]:
ser_d[-ser_d.duplicated()]

In [ ]:
ser_d.drop_duplicates()

In [ ]:
ser_d[-ser_d.duplicated(keep=False)]

In [ ]:
ser_with_dups = Series(list('ABCDEFABGHIABCD'))

In [ ]:
ser_with_dups.drop_duplicates()

In [ ]:
ser_with_dups

In [ ]:
ser_with_dups.drop_duplicates(inplace=True)

In [ ]:
ser_with_dups

In [ ]:
df_x.columns.tolist()

In [ ]:
perx = df_x.Fare.describe(percentiles=[0.95])['95%']
# or: df_x.Fare.quantile(0.95)

In [ ]:
df_x.Fare.clip_upper(perx).plot.hist(figsize=(3, 3))

In [ ]:
df_x = pd.read_csv('train.csv')
df_x.Fare.plot.hist(figsize=(3, 3))

---
<center>

# $DataFrame$

</center>
---

It is 2-D table like data structure that has both a row and column index. Similar to the R data frame. Each column can be a different dtype. 

Can be thought of a dict of Series objects.
One of the most common ways of creating a dataframe is from a dictionary of arrays or lists.

### 2.1 Creating a DataFrame
_Syntax_: `DataFrame(data=, index=, columns=)`

`data` could be a dict of equal length lists or numPy arrays.

***NOTE***: Each axis has an index (which is a self contained data structure), that is used to implement
+ Fast lookups
+ Data alignment and joins

In [ ]:
pd.DataFrame?

### - Creating a DataFrame from a 2D Array

In [ ]:
# 1D array
np.arange(20, 32)

In [ ]:
# 1D array converted to 2D
np.arange(20, 32).reshape(3, 4)

In [ ]:
# Creating a DF using all defaults
DataFrame(np.arange(20, 32).reshape(3, 4))

In [ ]:
# Creating a DF using specific declarations
DataFrame(data = np.arange(20, 32).reshape(3, 4), 
          columns = list('WXYZ'), 
          index = list('ABC'))

In [ ]:
my_df = DataFrame(np.random.random(16).reshape(4, 4), 
                  columns=['c1', 'c2', 'c3', 'c4'], 
                  index=['r1', 'r2', 'r3', 'r4']).round(2)
print my_df

In [ ]:
# To rearrange columns pass the desired order as a list of colnames
my_df.loc[['r2', 'r4'], ['c4', 'c2', 'c3', 'c1']]

### creating DataFrame using dict of equal length lists

In [ ]:
my_dict = {'ints': np.arange(5),
           'floats': np.arange(0.1, 0.6, 0.1),
          'strings': list('abcde')}
my_dict

In [ ]:
my_df2 = DataFrame(my_dict, 
                   index=list('vwxyz'))
my_df2

---
### Subsetting a column from a DataFrame using `[]` or `[[]]`

In [ ]:
arr_1 = np.random.randn(56).reshape(7, 8).round(2)

In [ ]:
df_1 = DataFrame(arr_1)

In [ ]:
df_1

In [ ]:
arr_1[:5, :5]

In [ ]:
df_1.iloc[:5, :5].values

---
<big>

The difference between a single `[]` accessor and `[[]]` is that the latter always produces
a DataFrame, while the former always produces a Series.

---

In [ ]:
my_df2.columns

In [ ]:
# subset one column
print type(my_df2['floats'])
my_df2['floats']
     # my_df2.loc[:, 'floats']

In [ ]:
# subset one column
print type(my_df2[['floats']])
my_df2[['floats']]

In [ ]:
my_df2[['ints', 'floats']]
    # or, my_df2.loc[:, ['ints', 'floats']]

## Adding a column to a DataFrame

In [ ]:
my_df2

In [ ]:
print my_df2
print

## Add a NEW column to a DataFrame
my_df2['bools'] = [True, False, True, True, False]
print my_df2
print 

# Creating a derived column
my_df2['ints2'] = my_df2['ints'] * 7 
print my_df2

In [ ]:
my_df2.loc[:, 'strings'] = my_df2['strings'].map(lambda x: x.upper())

In [ ]:
print my_df2


### Drop Columns

In [ ]:
my_df2.drop('ints2', axis=1)

In [ ]:
my_df2

In [ ]:
print my_df2.drop('ints2', axis='columns', inplace=True)

# for permanent deletion, use inplace = True

In [ ]:
my_df2

In [ ]:
arr_1.shape
# without parentheses => attribute

In [ ]:
arr_1.sum()
# with parenthese => method

---
## Pandas DataFrame Attributes

In [ ]:
arr_1.shape
# without parentheses => attribute

In [ ]:
arr_1.sum()
# with parenthese => method

In [ ]:
df_titanic = pd.read_csv('train.csv')

Attributes | Definition 

T 	    Transpose index and columns 

at	    Fast label-based scalar accessor 
iat  	Fast integer location scalar accessor.
ix	    A primarily label-location based indexer, with integer position fallback.
loc	    Purely label-location based indexer for selection by label.
iloc	Purely integer-location based indexing for selection by position.

axes    Return a list with the row axis labels and column axis labels as the only members.

empty	True if NDFrame is entirely empty [no items]
blocks	Internal property, property synonym for as_blocks()

dtypes	Return the dtypes in this object
ftypes	Return the ftypes (indication of sparse/dense and dtype) in this object.

ndim	Number of axes / array dimensions
shape	Return a tuple representing the dimensionality of the DataFrame.
size	number of elements in the NDFrame
style	Property returning a Styler object containing methods for building a styled HTML   representation fo the DataFrame.
values	Numpy representation of NDFrame

In [ ]:
df_titanic.dtypes

In [ ]:
df_titanic.shape

In [ ]:
df_titanic.ndim

In [ ]:
df_titanic.empty

In [ ]:
my_df

In [ ]:
# Transpose
my_df.T

In [ ]:
# Subset using label lists
my_df.loc[['r1', 'r2'], ['c3', 'c4']]

In [ ]:
# Subset using label slices
my_df.loc['r1':'r3', 'c1':'c2']

In [ ]:
# Subset using integer lists
my_df.iloc[[0, 2], [2, 1]]

In [ ]:
df_x.info()

In [ ]:
df_x.get_dtype_counts()

---
## Pandas DataFrame Methods

http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html

## Selected few DataFrame methods:

### - the `.to_csv` method

In [ ]:
DataFrame.to_
# explore write methods

In [ ]:
[x for x in os.listdir(os.getcwd()) if '.csv' in x]

In [ ]:
# OUtput to CSV
my_df2.to_csv('my_df2.csv')

In [ ]:
[x for x in os.listdir(os.getcwd()) if '.csv' in x]

In [ ]:
!head -2 my_df2.csv

### - The `drop` method 

- Remove one or more rows (default action)
- Remove one or more columns (pass axis=1)

In [ ]:
my_df2

In [ ]:
# Drop a row
my_df2.drop('v')

In [ ]:
# Drop a column
my_df2.drop('ints2', axis=1, inplace=True)

In [ ]:
my_df2

In [ ]:
# Deleting a column
del my_df2['const']; my_df2

### - the math methods

In [ ]:
my_df

In [ ]:
print my_df.sum()
my_df.sum(axis=1)

In [ ]:
print my_df.mean()
my_df.mean(axis=1)

In [ ]:
my_df.std(axis=1)

In [ ]:
df_titanic.describe()

In [ ]:
df_titanic.groupby(['Pclass', 'Sex'])['Survived'].quantile([0.5, 0.75, 0.95]).unstack().reset_index()

In [ ]:
pd.pivot_table(data=df_titanic, index='Pclass', columns='Sex', values='Survived')

In [ ]:
df_titanic.describe(include=[object])

In [ ]:
df_titanic.loc[:, df_titanic.dtypes[(df_titanic.dtypes == object)].index.tolist()].describe()

---------------------------------------------------------------------------------------------------------------------

# `Revision Task`

In [ ]:
data = {'country': ['Belgium', 'France', 'Germany', 'Netherlands', 'United Kingdom'],
        'population': [11.3, 64.3, 81.3, 16.9, 64.9],
        'area': [30510, 671308, 357050, 41526, 244820],
        'capital': ['Brussels', 'Paris', 'Berlin', 'Amsterdam', 'London']}

countries = DataFrame(data, index=list('pqrst'))

countries

In [ ]:
countries.loc[countries['country'] == 'Germany', 'population']

In [ ]:
countries.set_index('country').loc['Germany', 'population']

In [ ]:
countries.loc[countries['population']>50, ['capital', 'area']]

In [ ]:
countries.shape

In [ ]:
# Check row names
countries.index

In [ ]:
# Check column names
countries.columns

In [ ]:
# To check the data types of the different columns:
countries.dtypes

In [ ]:
type(countries)

In [ ]:
# Overview of the data
countries.info()

In [ ]:
countries.values

---

## Setting an arbitrary Index
If we don't like what the index looks like, we can reset it and set one of our columns

-- the `set_index()` method

In [ ]:
data = {'country': ['Belgium', 'France', 'Germany', 'Netherlands', 'United Kingdom'],
        'population': [11.3, 64.3, 81.3, 16.9, 64.9],
        'area': [30510, 671308, 357050, 41526, 244820],
        'capital': ['Brussels', 'Paris', 'Berlin', 'Amsterdam', 'London']}

countries = DataFrame(data, index=list('pqrst'))

countries

In [ ]:
countries.index = list('uvwxy')
# manually provided index

In [ ]:
countries

In [ ]:
countries.set_index('country', inplace=True)

In [ ]:
countries

In [ ]:
countries.loc['Belgium':'Netherlands']

In [ ]:
countries.loc['Belgium', 'population']

In [ ]:
countries.reset_index(inplace=True)

In [ ]:
countries

In [ ]:
countries.set_index(['country', 'capital'])

---------------------------------------------------------------------------------------------------------------------

### 2.4 Some DataFrame Methods

*** --- `sort_values()`:  *** used to sort the data

In [ ]:
countries

In [ ]:
countries.sort_values(by='population', ascending=False)

In [ ]:
countries.sort_values(by=['population', 'area'], ascending=False)

**--- create a new column**

In [ ]:
countries['pop_density'] = countries['population'] / countries['area'] * 10000
countries

*** --- `describe(): `*** computes summary statistics for each column numerical (default) column

In [ ]:
countries.describe()

*** --- `plot(): `*** used to quickly visualize the data in different ways

The available plotting types: line (default), bar, barh, hist, box , kde, area, pie, scatter, hexbin.

In [ ]:
countries[['population', 'pop_density']].plot.scatter(x='population', 
                                                      y='pop_density', 
                                                      figsize=(3,3));

##### Barplot

In [ ]:
countries.set_index('country').loc[:, 'population'].sort_values().plot.barh(figsize=(4, 3))
plt.savefig('countries_barplot.png', dpi=200)

In [ ]:
[x for x in os.listdir(os.getcwd()) if 'jpg' in x or 'png' in x or 'jpeg' in x]

---------------------------------------------------------------------------------------------------------------------

### 2.5 Subsetting a DataFrame

*** --- 1 Column***: For a DataFrame, basic indexing selects the columns.

An individual column can be retrieved as a Series using `df['col']` or `df.col` 

This is especially helpful for creating boolean indexes.

In [ ]:
my_df2

#### Subsetting one column

In [ ]:
my_df2['floats']

In [ ]:
my_df2[['floats']]

In [ ]:
my_df2.floats
my_df2['floats']

In [ ]:
all(countries.area == countries['area'])

In [ ]:
all(my_df2[['floats']] == my_df2['floats'])

*** --- 2+ Columns***: Multiple columns are retrieved as a DataFrame using a list of column names `df[['col1', 'col2']]`

In [ ]:
type(my_df2[['ints', 'strings']])

In [ ]:
countries[['area', 'population']]

---------------------------------------------------------------------------------------------------------------------

*** --- Rows***: can be retrieved by position or name by methods such as ***.ix***
It provides the label indexing facility.


This is a very powerful method that can subset the DataFrame in any way (using locations or index or ranges)

```
.loc and .iloc
.ix
.at and .iat
```

## Advaned Indexing - 1 [.loc and .iloc]

For more advanced indexing, you have some extra attributes:

***--- loc:*** selection by label

`Syntax: df.loc[[indices], [colnames]]`

`[indices]` could be specified as a list, splice (start : end) or using a boolean series.

In [ ]:
countries

In [ ]:
# Using a row index (before comma) and a column name (after comma)
countries.loc[['Germany', 'United Kingdom'], 
              ['area', 'capital']]

In [ ]:
# Using a row index splice and a column index splice
countries.loc['Belgium':'Germany', :]

In [ ]:
countries.loc['Belgium':'Germany', 'area':'population']

#### Subsetting with Booleans

In [ ]:
(countries['population'] > 50)

In [ ]:
countries.loc[countries['population'] > 50, :]

In [ ]:
countries.population > 50
# Created using the dataframe
# The index-value links are preserved

In [ ]:
Series([False, True, True, False, True])
# Arbit series
# Doesnt have the same index as the df

In [ ]:
countries.loc[countries.population > 50, :]

In [ ]:
countries.loc[Series([False, True, True, False, True]), :]
# Gives you an Indexing Error

### - The `reset_index()` method

In [ ]:
countries

In [ ]:
countries.reset_index(inplace=True)

In [ ]:
countries

---

## Using Comprehensions to subset rows and columns.

In [ ]:
['France' in x for x in countries.country]

In [ ]:
countries.loc[['France' in x for x in countries.country], :]

In [ ]:
[(('area' in x) or ('capital' in x)) for x in countries.columns]

In [ ]:
countries.loc[['France' in x for x in countries.set_index('country').index],
             [(('area' in x) or ('capital' in x)) for x in countries.columns]]

In [ ]:
# Using a boolean for rows and a list of column names
countries.loc[countries['population'] > 5, ['capital', 'area']]

## *** --- iloc:*** selection by position.

Selecting by position with iloc works similar as indexing numpy arrays

In [ ]:
countries

In [ ]:
# Using splices for both rows and columns
countries.iloc[1:4, 1:3]

> Note: The different indexing methods can also be used to assign data.

---------------------------------------------------------------------------------------------------------------------

## Advaned Indexing - 2 [using the ***.ix*** method]



`Syntax: df.ix[<specify-rows>, <specify-cols>]`

- Here, `specify-cols` could be done as a singular/list/splice of colname(s)
    - Additionally, we could even specify integer ranges (splices).

- Similarly, `specify-rows` can be done using indices (if you want to subset rows by name)
    - by using integer splices (if you want to subset by position)

In [ ]:
my_df2

In [ ]:
# Columns

# select a column by name
my_df2.ix[:, 'strings']

In [ ]:
# select multiple columns by name
my_df2.ix[:, ['strings', 'floats']]

In [ ]:
# select columns by position
print my_df2.ix[:, 0:2]

In [ ]:
# Subsetting Rows using integers and ix
print my_df2.ix[0, :] # first row
print my_df2.ix[2, :] # second row

In [ ]:
print my_df2.ix[0:2] # by position: returns the first 2 rows

In [ ]:
# Subsetting rows using labels and .ix

print my_df2.ix['x':'z'] # by index: returns the last three rows
# We can slice the DataFrame using an index object

In [ ]:
# Use the :: for stepping through rows
my_df2.ix[::-1, ['strings', 'ints']]

In [ ]:
my_df2

In [ ]:
my_df2.ix[0:5:2]

---

NOTE:

> The column returned when indexing a DataFrame is a view on the underlying
data, not a copy. Thus, any in-place modifications to the Series
will be reflected in the DataFrame. The column can be explicitly copied
using the Seriess copy method.

In [ ]:
cap = countries['capital']

In [ ]:
cap[1] = 'Paris'

In [ ]:
countries

---------------------------------------------------------------------------------------------------------------------

### 2.6 Reindexing
It is used to create a DF with the data _conformed_ to a new index.

If we subset a Series or DataFrame with an index object, 

the data is _rearranged_ to obey this new index and missing values are introduced wherever the data was not present

#### --- Reindexing a Series

In [ ]:
countries

In [ ]:
countries.set_index('capital', inplace=True)

In [ ]:
countries

In [ ]:
capital2 = ['Paris', 'Brussels', 'Munich', 'Amsterdam', 'Manchester', 'Madrid']

countries.loc[capital2, :].fillna('Info NA')

In [ ]:
countries.reindex(capital2)

## --- Reindexing a DataFrame

`Syntax: df.reindex(index=, columns=, fill_value=, method=)`

In [ ]:
frame = DataFrame(np.random.randn(9).reshape(3, 3), index=list('acd'), columns=list('zwx')); frame

In [ ]:
frame.reindex(list('abcde'))

In [ ]:
frame

In [ ]:
frame.reindex(index=list('abcde'), 
              columns=list('wxyz'))

In [ ]:
# ffill will copy values from the previous row where possible, and if an entire column is NaN, fill_value will populate it.
(frame
 .reindex(index=list('abcde'), columns=list('wxyz'),
          method='ffill',
          fill_value=0.1)
)

df2.reindex(index=df1.index,
           columns=df1.columns,
           method='ffill', fill_value=-1)

> NOTE: `reindex` is quite helpful to align dataFrames for merging/appending tasks

--------------------------------------------------------------------------------------------------------------------

## Binary Operations involving DataFrames: _Data Alignment by Index_

In [ ]:
df1 = DataFrame(data=np.arange(1, 13).reshape(4,3), index=list('abcd'), columns=list('pqr'))
df2 = DataFrame(data=np.arange(1, 13).reshape(3,4), index=list('abc'), columns=list('pqrs')) 
print 'df1', '\n', df1, '\n'
print 'df2', '\n', df2, '\n'
print 'df1 + df2', '\n', df1 + df2

***Note***: Alignments happen on both axes. No information is discarded by default

In [ ]:
# We could choose to get rid of or impute missing rows/columns
(df1 + df2).fillna(0)

---

<big>

## Task 1

- Import the data into Pandas '`train.csv`'
    - Report the shape of the table and the data type of each column.

- Subset the data to retain only the passengers that survived. Name this object 'Survivors'
    - Within the 'survivors' find the summary statistics of the 'Age' and 'Fare' variables.

- Subset the data to retain only Female passengers.
    - Find out how many females over the age of 30 survived.

- Are there any missing values in the Age column?    
    - Draw a histogram of this column.
    - Replace missing values with a) Mean b) Median
    - Report the new summary statistics on this variable
---

In [ ]:
df_titanic.loc[df_titanic['Survived'] == 1, ['Age', 'Fare']].describe()

In [ ]:
(df_titanic.loc[((df_titanic['Sex'] == 'female') & (df_titanic['Survived'] == 1)) , 'Age'] > 30).value_counts()

In [ ]:
df_titanic['Age'].isnull().value_counts()

In [ ]:
df_titanic['Age'].isnull().sum()

In [ ]:
df_titanic['Age'].plot.hist(figsize=(3, 3));

In [ ]:
age_mean = df_titanic['Age'].mean()
df_titanic['Age'].fillna(age_mean).plot.hist(figsize=(3, 3));
# replace missings with mean

In [ ]:
df_titanic['Age'].fillna(df_titanic['Age'].median()).plot.hist(figsize=(3, 3));

---
### 2.7 Deleting Rows or Colums

This can be done using the `drop` method and specifying row indices or column names.

To drop **rows**

`Syntax: df.drop(indices-as-a-list)`

To drop **columns**

`Syntax: df.drop(colnames-as-a-list, axis=1)`


Parameters 

- axis (controls row/col deletion)
- inplace (changes to be permanent or not)

In [ ]:
df1

In [ ]:
# Delete the row with index 'b'
df1.drop('b', inplace=True); df1

In [ ]:
# Delete the column with name 'q'
df1.drop('q', axis=1, inplace=True); df1

In [ ]:
df2

In [ ]:
# Remove multiple rows
df2.drop(['a', 'b'], inplace=True); df2

---
## Using Boolean Indexing to conditionally replace data

In [ ]:
print df1, '\n', df2

In [ ]:
df3 = df1 + df2

In [ ]:
df3

In [ ]:
df3.isnull()

In [ ]:
df3[df3.isnull()] = -99

In [ ]:
df3

In [ ]:
df3[df3>8] = 99; df3

In [ ]:
d11 = DataFrame(np.random.randn(25).reshape(5,5), 
index=list('abcde'), 
columns=list('vwxyz')).round(2); print d11

In [ ]:
d11.quantile(np.arange(0.25, 1, 0.25))

In [ ]:
d11.describe().round(2)

---------------------------------------------------------------------------------------------------------------------

## 2.8 Apply functions to each element/rows or columns of a DataFrame

Using 

- **`s.map()`**, apply a func to each element of a Series
- **`df.applymap()`** apply a func to each element of a DF
- **`df.apply()`** apply a func to rows/columns of a DF

> Lambda functions are also known as ANONYMOUS functions because they typically do not have a name.

- The are used extensively in Python, and even more with the map, applymap and apply functions

In [ ]:
DataFrame(arr_1)

In [ ]:
DataFrame(arr_1).applymap(lambda x: 'neg' if x < 0 else 'pos')
# a function that checks if value is less than 0, then says 'neg' for negative or 'pos' for positive

In [ ]:
# Named Function
def addTen(x):
    return x + 10

In [ ]:
addTen(1)

---

In [ ]:
# Create a dataframe to work with
df8 = DataFrame(np.random.randn(25).reshape(5, 5), 
                index=list('abcde'), 
                columns=list('vwxyz')).round(2); df8

## 2.8.1 Apply a function to each element

--- Calling ***numPy ufuncs*** on DataFrame objects will apply the function to each element

> ufuncs work on a single argument

In [ ]:
np.abs(df8.values)

In [ ]:
np.abs(df8)

In [ ]:
df8.applymap(np.abs)

In [ ]:
%%timeit
np.abs(df8)
## This is an example of a VECTORIZED OPERATION

In [ ]:
%%timeit
df8.applymap(np.abs)

> It is possible to ***apply a udf to each element*** in a Series (using **`map`**) or a DataFrame (using **`applymap`**)

In [ ]:
# Write a function that formats a number to 2 decimal places
format8 = lambda x: '%.1f' %x

# SAME AS
# def format8(x):
#     return '%.2f' %x

format8(3.1341)

In [ ]:
df8.applymap(format8)

---
## 2.8.2 Apply a udf to each row/column

Using the `.apply(func, axis=)` method to a DataFrame does this

In [ ]:
df8.mean()

In [ ]:
%timeit df8.mean()

In [ ]:
df8.apply(np.mean, axis=0)

In [ ]:
%timeit df8.apply(mean, axis=0)

In [ ]:
df8

In [ ]:
df8.max(axis=1)
# apply is implied

In [ ]:
df8.apply(max, axis=1)
# apply is explicitly mentioned

In [ ]:
df8.apply(lambda x: (x.max() - x.min()))

---

### Using different functions with `apply()`

---
<big>

When you write a lambda function to work with apply on a dataframe, remember

1. The input to the function will be a SERIES.
2. The output can be a number or a series.

---

In [ ]:
# Use a general function that returns multiple values
def func8(x):
    return Series([x.min(), x.mean(), x.max()], 
                  index=['MIN.', 'MEAN.', 'MAX.'])

In [ ]:
s_1 = Series(np.random.randn(10))

In [ ]:
func8(s_1)

In [ ]:
df8

In [ ]:
df8.apply(func8)

In [ ]:
df8.apply(func8, axis=1)

---

## Big Task 

---

Create a function called DESCRIBE_X that takes as input a Series, 
and produces a series containing

- `min, max, sum, mean, std, missings, nonmissings, skew, kurtosis`
- `percentiles - as specified by the user`

---

`DESCRIBE_X(s_1, percentiles=[0.1, 0.3, 0.92, 0.99]`

---

Output

min
max
sum
mean
std
0.1
0.3
0.92
0.99

---

Then, apply this function to the rows, columns of arr_1 as a DataFrame.

---



## Task 2

- Define a function call 'Standardizing' which works on a series as:
    - Find the mean and standard deviation of the series
    - Subtract each value of the series with the mean
    - Divide the result with the standard deviation
    - Apply this function to each numerical column (int or float) of the Titanic Dataset
    
---

In [ ]:
# Solution to task 1

In [ ]:
%load task_describe_X.py

In [ ]:
DESCRIBE_X(s=Series(np.random.random(100)), perc=[0.5])

In [ ]:
arr_1 = DataFrame(np.random.randn(5000).reshape(1000, 5), columns=['Col_' + str(i) for i in range(5)])
arr_1.apply(lambda c: DESCRIBE_X(s=c, perc=[0.1, 0.2, 0.8, 0.9]))

In [ ]:
# Solution to task 2

In [ ]:
df_4 = DataFrame(np.random.randn(1000).reshape(200, 5), 
                 columns=['Col_' + str(x) for x in range(5)]); df_4.head()

In [ ]:
df_4.mean()

In [ ]:
df_4.std()

In [ ]:
df_4_NORM = df_4.apply(lambda s: (s - s.mean())/s.std())

In [ ]:
df_4_NORM.mean()

In [ ]:
df_4_NORM.std()

## Revision Task

Create a 500 x 10 matrix/DataFrame filled with random numbers.
Name the columns as Col_1 ... Col_10

Declare a function that operates on a Series (hence row or column) and returns the square root of the sum of squares of the min and max numbers in each

1. Row
2. Column


---

## 2.9 Sorting 

** 2.9.1 Sorting a Series ** 

To sort a series on its index, use 
- `my_series.sort_index()`

To sort a series on its values, use 
- `my_series.sort_values(ascending=<bool>)`

In [ ]:
# Create a Series with explicit index 
s9 = Series(np.random.randint(0, 50, 5), 
            index=list('dcbae')); s9

In [ ]:
s9.index

In [ ]:
s9.values

In [ ]:
# Sorting on the index
s9.sort_index(ascending=False)

In [ ]:
# Sorting on the values 
s9.sort_values(ascending=False, inplace=True)

In [ ]:
s9

---
## ** 2.9.2 Sorting a DataFrame**

Here we use the `sort_index()` method and specify what columns to sort on using `by=`, and the order of sorting

In [ ]:
d9 = DataFrame(np.random.randint(0, 100, 30).reshape(10, 3), 
               index=list('abcdefghij'), 
               columns=list('prq')); d9

In [ ]:
d9.sort_values(by='p', ascending=False, inplace=True); d9

In [ ]:
d9.sort_values(by=['p', 'q'], ascending=False, inplace=False)

In [ ]:
# d9.sort_index? 
# Sort DataFrame either by labels (along either axis) or by the values in a column

d9.sort_index(axis=0)

In [ ]:
df_titanic.sort_values(by=['Age', 'Pclass'], ascending=False)[['Name','Age', 'Pclass']][5:15]

** Reordering rows or columns **

In [ ]:
# without arguments, it will sort the index of the dataframe
d9.sort_index()

In [ ]:
# To sort column names
d9.sort_index(axis=1)

** Sorting on values **

In [ ]:
# Sort the data by the values of a column
d9.sort_values(by='q', ascending=False)

In [ ]:
# Sort the data by the values of 2 columns
d9.sort_values(by=['p', 'r'], ascending=False)

---
## 2.10 Ranking

This can be done by calling the `.rank()` method on a Series

`Syntax: obj.rank(axis=, ascending=, method=)`

Here, `method` refers to the method used to break ties if different elements have the same values.

In [ ]:
s9 = Series(np.random.randint(0, 100, 5))

In [ ]:
s9

In [ ]:
s9.rank()
# .astype(int) - 1

In [ ]:
# Create a series
s1 = Series(np.random.randint(80, 100, 15))

In [ ]:
s1

In [ ]:
s1.rank(ascending=False)

In [ ]:
# Create a dataframe with series, ranks as the 2 columns
DataFrame({'a': s1, 'b': s1.rank(ascending=False)})

---------------------------------------------------------------------------------------------------------------------

## 2.11 Descriptive Statistics

** Categorical Data **

- Calling describe() on a Categorical object shows count, # of unique, mode, mode's frequency

In [ ]:
print Series(list('abcxyzbbc'))

Series(list('abcxyzbbc')).describe()

In [ ]:
Series(list('abc')*4).describe()

In [ ]:
df_titanic['Embarked'].describe()

---
### ** Numeric Data **

Pandas objects have a set of common math/stat methods that extract

--- a single value from a Series

--- a Series from a DataFrame (along a specified axis)

Methods include:

`count, sum, mean, median, min/max, idxmin/idxmax, skew, kurt, cumsum, cumprod, pct_change` and more.

> Note that these methods would be applied over each row/column as specified and results collated

In [ ]:
d11 = DataFrame(np.random.randint(0, 100, 25).reshape(5, 5), 
                index=list('abcde'), 
                columns=list('vwxyz')); print d11

In [ ]:
# Getting colsums is as simple as calling the .sum() method of a DataFrame
print d11.sum()
print d11.mean()

In [ ]:
# Working on rows would require you to pass axis=1 to the .sum() method
d11.sum(axis=1)

> Note that missing values are ignored by default. Pass `skipna=False` to disable this.

In [ ]:
# Find the min/max for each column/row
d11.min(axis=1)

---
## Task 2

- is .sum() faster or using np.sum in an apply function

---

In [ ]:
%timeit d11.apply(lambda x: np.sum(x))

In [ ]:
%timeit d11.sum()

### Locate the min and max

In [ ]:
# Where does this value occur?
d11['v'].idxmin()

In [ ]:
d11.ix['d'].idxmax()

### `describe()` works on all numeric (int or float) columns in a DataFrame

In [ ]:
d11.describe()

In [ ]:
titanic.dtypes

In [ ]:
titanic.describe()

### Percentiles

In [ ]:
# Calculate quantiles for each column 
titanic.quantile(np.arange(0.80, 1, 0.05))

---
## Task 3

For Titanic Data, produce a function called DESCRIBE()

- in addition to the pandas describe() output 
- provide percentiles from 80 to 95 at an interval of 5

in a single table

In [ ]:
(titanic
 .describe()
 .append(titanic.quantile(np.arange(0.80, 1, 0.05))))

---
# Two Numerical Variables: Correlation

DataFrames have `.corr()` and `.cov()` methods that return a full correlation/covariance matrix as a DataFrame

In [ ]:
df_1 = DataFrame({'a': np.random.randn(1000), 'b': np.random.randn(1000)})

In [ ]:
import seaborn as sns
df_1.plot.scatter(x='a', y='b', figsize=(3, 3));

In [ ]:
df_1.corr()

In [ ]:
print "Correlation Coefficient b/w Var A and Var B is ... ", df_1.corr().loc['a', 'b']

# produce a correlation matrix, filled with correlation coefficients
# between any two variables, the corr coeff measures the strength of the relationship

# coeff close to zero means NO RELATIONSHIP
# coeff close to +1 means STRONG POSITIVE RELATIONSHIP (directly proportional)
# coeff close to -1 means STRONG NEGATIVE RELATIONSHIP (inversely proportional)

In [ ]:
from IPython.display import Image
Image("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Correlation_examples2.svg/2000px-Correlation_examples2.svg.png")

In [ ]:
df_2 = df_1.assign(c = lambda d: -4 * d['a'] + 5)

In [ ]:
df_2.plot.scatter(x='a', y='c', figsize=(4, 4));

In [ ]:
df_2.corr()

## Uncorrelated Variables

In [ ]:
(DataFrame(np.random.randint(0, 1000, 5000).reshape(2500, 2), 
          columns=['X', 'Y'])
.plot.scatter(x='X', y='Y', figsize=(3, 3)));

In [ ]:
(DataFrame(np.random.randint(0, 1000, 5000).reshape(2500, 2), 
          columns=['X', 'Y'])).corr()

## Positively Correlated

In [ ]:
X = np.random.randint(0, 1000, 2500)
Y = 4 * X + 25 + 1000 * np.sin(X) + np.random.randint(0, 200, 2500)

In [ ]:
DataFrame({'X': X, 'Y': Y}).plot.scatter(x='X', y='Y', figsize=(3, 3));

In [ ]:
DataFrame({'X': X, 'Y': Y}).corr()

In [ ]:
d11

In [ ]:
df_titanic = pd.read_csv('train.csv')

In [ ]:
df_titanic.describe().columns.tolist()[-4:]

In [ ]:
sns.heatmap(df_titanic[df_titanic.describe().columns.tolist()[-4:]].corr().round(2))

In [ ]:
# The Correlation Matrix
sns.heatmap(d11.corr().round(2))

In [ ]:
df_titanic.corr()

In [ ]:
sns.heatmap(titanic[['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']].fillna(0).corr())

---
<big>  Task
    
- Find the correlation matrix for the Titanic data

- Report the correlation (and your interpretation) between 
    - Age and Fare 

- print only the correlation values that are above 0.7 (or below -0.7)

---

---------------------------------------------------------------------------------------------------------------------

# 2.12 More Methods for Pandas objects

Now we look at methods for unique values (`unique`), frequency tables (`value_counts`), membership (`isin`)

In [ ]:
# Getting distinct values in a Series
s12 = Series(list('the quick brown fox jumped over the lazy dog'))

set(s12) 
#  or
s12.unique()

In [ ]:
s12.nunique()

In [ ]:
titanic.dtypes

In [ ]:
titanic.Survived.value_counts()

### the `isin` method

In [ ]:
# isin returns a boolean that can be used to index the original value
s12.isin(list('pqrst'))[:10]

In [ ]:
print titanic.Sex.head()

titanic.Sex.head().isin(['male'])

In [ ]:
colours = Series(['red', 'blue', 'white', 'green', 'black', 'white', None])

print colours.isin(['white', 'blue', None])

---------------------------------------------------------------------------------------------------------------------

## Difference between `None` and `np.nan`

In [ ]:
type(None)

In [ ]:
type(np.nan)

---
## 2.12 Handling Missing Data

Pandas treats the numpy `NaN` and the Python `None` as missing values.

--- These can be **detected** in a Series or DataFrame using **`obj.notnull()`**,  **`obj.isnull()`** which returns a boolean.

--- **To filter out missing data** from a Series, or to remove rows (default action) or columns with missing data in a DataFrame, we use **`obj.dropna()`**

--- Missing Value **imputation** is done using the **`obj.fillna()`** method.

In [ ]:
# Create a string Series and set some values to missing
s12 = Series(['abc', 'pqr', np.nan, 'xyz', np.nan, 'ijk', None])

s12

In [ ]:
# Detect missing values
s12.isnull()

In [ ]:
# Replace missing values with 0
s12.fillna(0)

In [ ]:
s12.fillna('missing')

In [ ]:
s12.fillna(method='ffill')

In [ ]:
s12.fillna(method='bfill')

In [ ]:
# Create a numeric Series and set a few values to missing
s13 = Series(np.random.randint(0, 50, 16), index=list('abcdefghabcdefgh'))
s13[::2] = np.nan
s13

In [ ]:
# Fill with median
s13.fillna(s13.median())

# We could use 0, or .mean() or some arbitrary method

In [ ]:
s13.dropna()

---
<big>


### How to fill missing values?

- It depends on the type of your variable.

For numeric, two methods.
Use Median if data is skewed, else use Mean.

For categorical, use Mode.

----

#### Task

- Check which of the Titanic Data Variables have Missings.
- Find the means
- Impute missings with means.
- Find the means again.
- Have they shifted?

---------------------------------------------------------------------------------------------------------------------

## 3. Implementing Split-Apply-Combine: The _groupby_ method
+ You may group along the rows or columns.
+ Returns the groupby object that stores info on how to split the data
+ To this object, we implement Aggregations (reduce size of data) or Transformations (no change in size) or Apply

In [ ]:
from IPython.display import Image
Image("http://i.imgur.com/yjNkiwL.png")

In [ ]:
df = DataFrame({'floats': np.random.randn(20), 
                'string': list('a' * 4 + 'b' * 6 + 'c' * 3 + 'd' * 7)})

In [ ]:
df[:5]

In [ ]:
df['string'].value_counts()

In [ ]:
print df.groupby('string').mean()

In [ ]:
print df.groupby('string').min()

In [ ]:
df_titanic = pd.read_csv('train.csv')

print df_titanic.groupby('Embarked')['Fare'].max()

In [ ]:
print df_titanic.groupby('Embarked').apply(lambda g: g[['Fare', 'Age']].max())


## Creating a GroupBy Object

In [ ]:
grouped = df.groupby('string')

In [ ]:
type(grouped)

In [ ]:
len(grouped)

In [ ]:
for tab in grouped:
    print type(tab)
    print len(tab)
    print tab[1][:3]
    print

In [ ]:
Series(map(lambda tup: {tup[0]: tup[1]['floats'].mean()}, grouped))

In [ ]:
print grouped.mean()

## Explore GroupbyObject Methods

In [ ]:
# Specialized functions on grouped object directly
print grouped.sum()
print grouped.mean()
print grouped.median()

# try min, max, idxmin, idxmax and so on

---
### An example using the Titanic Data

In [ ]:
df_titanic.Embarked.value_counts()

In [36]:
(df_titanic
 .groupby('Embarked')
 .apply(lambda x: (x.set_index('Name').loc[:, 'Fare'].idxmax(),
                  x.set_index('Name').loc[:, 'Fare'].max())))

Embarked
C               (Ward, Miss. Anna, 512.3292)
Q        (Minahan, Dr. William Edward, 90.0)
S    (Fortune, Mr. Charles Alexander, 263.0)
dtype: object

In [37]:
(df_titanic
 .groupby('Sex')
 .apply(lambda x: x[['Age', 'Fare']].mean()).round(0))

         Age  Fare
Sex
female  28.0  44.0
male    31.0  26.0

In [38]:
# Top two Fares for Sex x Embarked categories

(df_titanic
 .set_index('Name')
 .groupby(['Sex', 'Embarked'])
 .apply(lambda x: x['Fare'].sort_values(ascending=False).head(2)))

Sex     Embarked  Name
female  C         Ward, Miss. Anna                         512.3292
                  Ryerson, Miss. Susan Parker "Suzette"    262.3750
        Q         Minahan, Miss. Daisy E                    90.0000
                  Rice, Mrs. William (Margaret Norton)      29.1250
        S         Fortune, Miss. Mabel Helen               263.0000
                  Fortune, Miss. Alice Elizabeth           263.0000
male    C         Lesurer, Mr. Gustave J                   512.3292
                  Cardeza, Mr. Thomas Drake Martinez       512.3292
        Q         Minahan, Dr. William Edward               90.0000
                  Rice, Master. Eugene                      29.1250
        S         Fortune, Mr. Mark                        263.0000
                  Fortune, Mr. Charles Alexander           263.0000
Name: Fare, dtype: float64

In [ ]:
  male female
S x     x2
C y     y2
Q z     z2

male S x
male C y 
male Q z
fema S x2
fema C y2
feme Q z2

In [ ]:
pd.pivot_table(data = df_titanic, 
               index = 'Embarked', 
               columns = 'Sex', 
               values = 'Fare', 
               aggfunc = [np.mean, np.sum]).to_clipboard()

In [ ]:
df_titanic.columns

In [ ]:
df_titanic.dtypes

In [ ]:
%timeit df_titanic.query("Parch <= 2")

In [ ]:
%timeit df_titanic.loc[df_titanic.Parch <= 2, :]

In [ ]:
pd.pivot_table(data = df_titanic.query("Parch <= 2"), 
               index='Pclass', 
               columns=['Sex','Parch'], 
               values='Survived').round(2)

In [ ]:
%timeit pd.pivot_table(data = df_titanic, index='Pclass', values='Fare')

In [ ]:
%timeit df_titanic.groupby('Pclass')['Fare'].mean()

---
<big>

*Task* | Using variables Embarked, PClass and Sex find the group with the highest rate of survival.

---

In [40]:
grps = [['Embarked'], ['Pclass'], ['Sex'], 
        ['Embarked', 'Pclass'], ['Embarked', 'Sex'], ['Pclass', 'Sex'],
        ['Embarked', 'Pclass', 'Sex']]

per_survived = {}

for grp in grps:
    per_survived['_'.join(grp)] = df_titanic.groupby(grp)['Survived'].mean()

In [41]:
per_survived.keys()

['Embarked_Pclass_Sex',
 'Embarked',
 'Embarked_Pclass',
 'Embarked_Sex',
 'Pclass',
 'Sex',
 'Pclass_Sex']

In [45]:
series_concatd = pd.concat([per_survived.get(k) for k in per_survived])

In [46]:
series_concatd.sort_values(ascending=False)[:10]

(Q, 2, female)    1.000000
(C, 2, female)    1.000000
(Q, 1, female)    1.000000
(C, 1, female)    0.976744
(1, female)       0.968085
(S, 1, female)    0.958333
(2, female)       0.921053
(S, 2, female)    0.910448
(C, female)       0.876712
(Q, female)       0.750000
Name: Survived, dtype: float64

In [50]:
series_concatd.sort_values()[:10]

(Q, 2, male)    0.000000
(Q, 1, male)    0.000000
(Q, male)       0.073171
(Q, 3, male)    0.076923
(S, 3, male)    0.128302
(3, male)       0.135447
(S, 2, male)    0.154639
(2, male)       0.157407
(S, male)       0.174603
male            0.188908
Name: Survived, dtype: float64

In [62]:
sizes = {}
for grp in grps:
    sizes['_'.join(grp)] = df_titanic.groupby(grp).apply(lambda g: g.size)

In [63]:
sizes = pd.concat([sizes[k] for k in sizes.keys()])
type(sizes)

pandas.core.series.Series

In [64]:
sizes.name = 'Num_of_Passengers'

In [68]:
pd.concat([series_concatd, sizes], axis=1)['Num_of_Passengers'].sum

(C, 1, female)     516
(C, 1, male)       504
(C, 2, female)      84
(C, 2, male)       120
(C, 3, female)     276
(C, 3, male)       516
(Q, 1, female)      12
(Q, 1, male)        12
(Q, 2, female)      24
(Q, 2, male)        12
(Q, 3, female)     396
(Q, 3, male)       468
(S, 1, female)     576
(S, 1, male)       948
(S, 2, female)     804
(S, 2, male)      1164
(S, 3, female)    1056
(S, 3, male)      3180
C                 2016
Q                  924
S                 7728
(C, 1)            1020
(C, 2)             204
(C, 3)             792
(Q, 1)              24
(Q, 2)              36
(Q, 3)             864
(S, 1)            1524
(S, 2)            1968
(S, 3)            4236
(C, female)        876
(C, male)         1140
(Q, female)        432
(Q, male)          492
(S, female)       2436
(S, male)         5292
1                 2592
2                 2208
3                 5892
female            3768
male              6924
(1, female)       1128
(1, male)         1464
(2, female)        912
(2, male)         1296
(3, female)       1728
(3, male)         4164
Name: Num_of_Passengers, dtype: int64

In [65]:
pd.concat([series_concatd, sizes], axis=1).sort_values('Survived', ascending=False)[:10]

                Survived  Num_of_Passengers
(C, 2, female)  1.000000                 84
(Q, 1, female)  1.000000                 12
(Q, 2, female)  1.000000                 24
(C, 1, female)  0.976744                516
(1, female)     0.968085               1128
(S, 1, female)  0.958333                576
(2, female)     0.921053                912
(S, 2, female)  0.910448                804
(C, female)     0.876712                876
(Q, female)     0.750000                432

In [66]:
pd.concat([series_concatd, sizes], axis=1).sort_values('Survived', ascending=True)[:10]

              Survived  Num_of_Passengers
(Q, 2, male)  0.000000                 12
(Q, 1, male)  0.000000                 12
(Q, male)     0.073171                492
(Q, 3, male)  0.076923                468
(S, 3, male)  0.128302               3180
(3, male)     0.135447               4164
(S, 2, male)  0.154639               1164
(2, male)     0.157407               1296
(S, male)     0.174603               5292
male          0.188908               6924

----
## Reshaping your data  with  `stack, unstack and pivot_table`

### LONG to WIDE

In [ ]:
df = pd.DataFrame({'A': list('x' * 5) + list('y' * 5), 
                   'B': list('abcde' * 2),
                   'C': np.random.randint(0, 100, 10)})

df.set_index(['A', 'B'], inplace=True)

type(df)

In [ ]:
df.unstack()

In [ ]:
df.unstack(level=0)

In [ ]:
# Subsetting a DataFrame with Hierachical Index
df.loc['y'].loc['a':'c']

In [ ]:
df_1 = DataFrame(np.random.randn(16).reshape(4,4), 
                 index=list('abcd'), 
                 columns=list('pqrs'))
print 'DataFrame ... \n', df_1

In [ ]:
print '\n\nStacking results in one column...\n', df_1.stack()

> To use stack/unstack, we need the values we want to shift from rows to columns or the other way around as the index